body {
    overflow-y: visible !important;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

.s1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    background: url("images/lance-asper-7bBVx1dRYrk-unsplash.jpg");
    background-size: cover;
}

.s1 h1 {
    margin-bottom: 10px;
}

.s1 h2 {
    margin-top: 5px;
    font-family: Raleway;
    font-size: clamp(15px, 1.5vw, 300px);
    font-weight: 300;
    text-shadow: 1px 1px 3px black;
    color: antiquewhite;
}

.sl2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    margin-top: 15px;
    font-family: Raleway;
}

label {
    font-family: Raleway;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 300;
    text-shadow: 1px 1px 3px black;
    color: antiquewhite;
}

select {
    width: 100px;
    margin-right: 10px;
}

#container {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, .9);
    padding: 20px 15px 20px 15px;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
}

#container h1 {
    font-family: Raleway;
    font-size: 7vw;
    text-size-adjust: 50%;
    font-weight: 400;
    color: antiquewhite;
    text-shadow: 1px 1px 3px black;
}

#vin {
    margin: 15px auto 5px auto;
    width: 250px;
}

#submit {
    margin-bottom: 20px;
}

#top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .9);
    font-family: Raleway;
    text-shadow: 1px 1px 3px black;
    color: antiquewhite;
    border-radius: 15px;
    width: 70%;
    margin: 25px 15% 10px 15%;
    padding: 25px 25px 25px 25px;
}

#bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .9);
    font-family: Raleway;
    text-shadow: 1px 1px 3px black;
    border-radius: 15px;
    color: antiquewhite;
    width: 70%;
    margin: 10px 15% 25px 15%;
    padding: 25px 25px 25px 25px;
}

.left-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: left;
    height: 100%;
    margin-right: 20px;
}

.left-info-container h2 {
    font-size: 25px;
}

.right-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
    height: 100%;
}

.right-info-container h2 {
    font-size: 25px;
}

h3 {
    font-size: clamp(15px, 1vw, 300px);
}

#arrow {
    margin: 20px auto 0px auto;
    color: white;
    height: 10vh;
    width: clamp(80px, 5vw, 110px);
}

#question {
    height: 15px;
    width: 15px;
}

#vehicle-info h3 {
    font-size: 15px;
}

#resource-links h3 {
    font-size: 15px;
}

@media screen and (max-width: 450px) {
    #top-div {
        flex-direction: column;
    }
    .left-info-container {
        margin-right: 0px;
    }
    #vehicle-info h3 {
        font-size: 12px;
    }
    #resource-links h3 {
        font-size: 12px;
    }
    .left-info-container h2 {
        font-size: 20px;
    }
    .right-info-container h2 {
        font-size: 20px;
    }
}